<DOCTYPE! html>
<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Vaiko Villiam Tuul</title>
</head>
<body>
	<img src="/banner/vp_banner_2024.png" alt="VP 2024 bänner">
	<h1>Vaiko Villiam Tuul</h1>
	<p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee/">Tallinna Ülikoolis</a>, Digitehnoloogiate instituudis ja ei sisalda tõsiseltvõetavat materjali</p>
	<hr>
	<ul>
	   <li><a href="/">Avalehele</a></li>
	   <li><a href="/timenow">Ajainfo</a></li>
	   <li><a href="/vanasonad">Vanasõnad</a></li>
	   <li><a href="/reglist">Regristreeritud külastused</a></li>
	</ul>
	<hr>
	<h2>Lisa filmitegelane</h2>
	<form method="POST">
		<label for="firstNameInput">Sisesta oma eesnimi: </label>
		<input type="text" id="firstNameInput" name="firstNameInput"
		placeholder="Eesnimi ...">
		<br>
		<label for="lastNameInput">Sisesta oma perekonnanimi: </label>
		<input type="text" id="lastNameInput" name="lastNameInput"
		placeholder="Perekonnanimi ..." >
		<br>
		<label for="birthDateInput">Sisesta sünnikuupäev: </label>
		<input type="date" id="birthDateInput" name="birthDateInput" placeholder="Sünnikuupäev...">
		<input type="submit" id="regSubmit" name="regSubmit" value="Salvesta">
	</form>
	<p><%= notice %></p>
</body>
</html>