<DOCTYPE! html>
<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Vaiko Villiam Tuul</title>
</head>
<body>
	<img src="/banner/vp_banner_2024.png" alt="VP 2024 bänner">
	<h1>Vaiko Villiam Tuul</h1>
	<p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee/">Tallinna Ülikoolis</a>, Digitehnoloogiate instituudis ja ei sisalda tõsiseltvõetavat materjali</p>
	<hr>
	<h2>Eesti film</h2>
	<ul>
	   <li><a href="/home">Avalehele</a></li>
	   <li><a href="/timenow">Ajainfo</a></li>
	   <li><a href="/vanasonad">Vanasõnad</a></li>
	   <li><a href="/eestifilm/tegelased">Eesti filmitegelased</a></li>
	   <li><a href="/eestifilm/lisa">Lisa andmeid</a></li>
	   <li><a href="/eestifilm/lisaseos/">Lisa seosed</a></li>
	</ul>
	<hr>
	
</body>
</html>