<DOCTYPE! html>
<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Vaiko Villiam Tuul</title>
</head>
<body>
	<img src="/banner/vp_banner_2024.png" alt="VP 2024 bänner">
	<h1>Vaiko Villiam Tuul</h1>
	<p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee/">Tallinna Ülikoolis</a>, Digitehnoloogiate instituudis ja ei sisalda tõsiseltvõetavat materjali</p>
	<hr>
	<form method="POST">
		<label for="emailInput">Kasutajatunnus (e-mail)</label>
		<input type="email" id="emailInput" name="emailInput">
		<br>
		<label for="passwordInput">Salasõna</label>
		<input type="password" id="passwordInput" name="passwordInput">
		<br>
		<input type="submit" id="loginSubmit" name="loginSubmit" value="Logi sisse"><span><%= locals.notice %></span>
	</form>
	<hr>
	<ul>
	   <li><a href="/timenow">Ajainfo</a></li>
	   <li><a href="/vanasonad">Vanasõnad</a></li>
	   <li><a href="/regvisit">Regristreeri oma külastus (tekstifaili)</a></li>
	   <li><a href="/regvisitdb">Regristreeri oma külastus (andmebaasi)</a></li>
	   <li><a href="/reglist">Regristreeritud külastused (tekstifaili)</a></li>
	   <li><a href="/reglistdb">Regristreeritud külastused (andmebaasi)</a></li>
	   <li><a href="/signup">Kasutajakonto loomine</a></li>
	</ul>
	<hr>
</body>
</html>