<DOCTYPE! html>
<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Vaiko Villiam Tuul</title>
</head>
<body>
	<img src="/banner/vp_banner_2024.png" alt="VP 2024 bänner">
	<h1>Vaiko Villiam Tuul</h1>
	<p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee/">Tallinna Ülikoolis</a>, Digitehnoloogiate instituudis ja ei sisalda tõsiseltvõetavat materjali</p>
	<hr>
	<ul>
	   <li><a href="/">Avalehele</a></li>
	   <li><a href="/timenow">Ajainfo</a></li>
	   <li><a href="/vanasonad">Vanasõnad</a></li>
	   <li><a href="/reglist">Regristreeritud külastused</a></li>
	</ul>
	<hr>
	<h2>Galeriifotode üleslaadimine</h2>
	<form method="POST" enctype="multipart/form-data">
		<label for="photoInput">Vali pildifail: </label>
		<input type="file" id="photoInput" name="photoInput" required>
		<br>
		<label for="altInput">Sisesta alternatiivtekst: </label>
		<input type="text" id="altInput" name="altInput" placeholder="Sellel pildil ...">
		<br>
		
		<input type="radio" id="privacyInput1" name="privacyInput" value="1" checked>
		<label for="privacyInput1">Privaatne (ainult omanik näeb)</label>
		<br>
		<input type="radio" id="privacyInput2" name="privacyInput" value="2" checked>
		<label for="privacyInput2">Sisseloginud kasutajatele</label>
		<br>
		<input type="radio" id="privacyInput3" name="privacyInput" value="3" checked>
		<label for="privacyInput3">Avalik</label>
		<br>
		
		<input type="submit" id="photoSubmit" name="photoSubmit" value="Lae üles">
	</form>
</body>
</html>