<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Vaiko Villiam Tuul, veebiprogrammeerimine 2024</title>
</head>
<body>
	<img src="/banner/vp_banner_2024.png" alt="Veebiprogrammeerimise kursuse bänner">
	<h1>Uudised</h1>
	<ul>
		<li><a href="/news/read">Uudiste leht</a></li>
		<li><a href="/home">Avalehele</a></li>
	</ul>
	<hr>
	<h2><%= news.news_title %></h2>
	<p>Lisatud: <%= news.news_date %></p>
	<p><%= news.news_text %></p>
  </body>
</html>