<DOCTYPE! html>
<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Vaiko Villiam Tuul</title>
</head>
<body>
	<img src="/banner/vp_banner_2024.png" alt="VP 2024 bänner">
	<h1>Vaiko Villiam Tuul</h1>
	<p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee/">Tallinna Ülikoolis</a>, Digitehnoloogiate instituudis ja ei sisalda tõsiseltvõetavat materjali</p>
	<hr>
	<ul>
	   <li><a href="/">Avalehele</a></li>
	   <li><a href="/vanasonad">Vanasõnad</a></li>
	   <li><a href="/regvisit">Regristreeri oma külastus</a></li>
	</ul>
	<hr>
	<h2>Praegune ajahetk</h2>
	<p>Selle lehe avamise hetkel oli:</p>
	<ul>
		<li>Nädalapäev: <%= nowWD %></li>
		<li>Kuupäev: <%= nowD %></li>
		<li>Kellaaeg: <%= nowT %></li>
	</ul>
</body>
</html>