<DOCTYPE! html>
<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Viljavedu avaleht</title>
</head>
<body>
	<h1>Viljavedu</h1>
	<ul>
		<li><a href="/viljavedu">Sisesta viljavedu</a></li>
		<li><a href="/kokkuvote">Vaata kokkuvõtet</a></li>
	</ul>
</body>
</html>